# Backend
ComputerSeekho_Backend/target/
ComputerSeekho_Backend/*.log

# Frontend
ComputerSeekho_Frontend/node_modules/
ComputerSeekho_Frontend/dist/

# IDE
.vscode/
.idea/
computer-seekho-api/src/main/resources/appilication.yml
computer-seekho-api/src/main/resources/application.properties
computer-seekho-api/src/main/resources/application.yml
